@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ViewQuestions";
}
@using project.Models;
@section Scripts
{
    <script>
    $('#exampleModal').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        var modal = $(this)


         modal.find('.modal-title').text(recipient.substring(recipient.split("+", 1).length+1,recipient.length))


       modal.find('.modal-body #ques_id').val(recipient.split("+",1));
    })
    function Clear() {
        $("#div1").empty();
    }
    function rating(id) {
        $('#' + id).load('/Instructor/Like?name=' + id);
    }
    function norating(id) {
        $('#' + id).load('/Instructor/Unlike?name=' + id);
    }
    function ansunrating(id) {
        debugger;
        $('#' + id+'com').load('/Instructor/AnsUnlike?name=' + id);
    }
    function ansrating(id) {
        $('#' + id +'com').load('/Instructor/AnsLike?name=' + id);
    }

    </script>
}
<div class="" style="margin-top:10%;padding-left:22%;">

    <div style="padding:15px;border-radius:30px;background-color:rgba(191, 216, 216,0.5);width:780px;height:auto;padding-left:15%;">
        <div >
            <span style="color:rgb(28, 5, 87);font-size:x-large;font-family: cursive;padding-left:22%;">Questions</span><br><br>


            <table border="0">
                @foreach (Question q in ViewBag.Question)
                {
                    <tr>
                        <td>
                            @foreach (SClass sc in ViewBag.clss)
                            {
                                if (sc.Id == q.Class_Id)
                                {
                                    foreach (Student stt in ViewBag.std)
                                    {
                                        if (q.Student_Id == stt.Id)
                                        {
                                            foreach (User uu in ViewBag.usr)
                                            {
                                                if (uu.Id == stt.User_Id)
                                                {
                                                   <div style="background-color:rgba(243, 246, 246,0.7);border-radius:10px;padding:2px;">
                     
                                                    <img src="~/Content/dp/@uu.Image" width="50" height="50" style="margin-top:3px;border-radius:10px;">   <span style="color:rgb(28, 5, 87);font-size:medium;">@uu.FirstN (@sc.NameOfClass)</span>
                                                       <br><span style="color:rgb(28, 5, 87);font-size:medium;">@q.Ques</span>&nbsp;
                                                   <div id="@q.Id">
                                                    @{
                                                    string namee = Session["Instructor"].ToString();
                                                    DatabaseEntities3 ed = new DatabaseEntities3();
                                                    var usrrr = ed.Users.FirstOrDefault(x => x.FirstN.Equals(namee));
                                                    var a = ed.Likes.Where(x => x.Ques_Id == q.Id && x.Status == 1).Select(x => x).ToList();
                                                    if (a.Count != 0)
                                                    {
                                                       <span>@a.Count Likes</span>
                                                    }

                                                    int flag = 0;
                                                    foreach (var aa in a)
                                                    {
                                                        if (aa.User_Id == usrrr.Id && aa.Status == 1)
                                                        {
                                                            flag = 1;

                                                           <button class="btn-xs" onclick="norating(@q.Id)">Unlike</button>

                                                            break;
                                                        }
                                                        else if (aa.User_Id == usrrr.Id && aa.Status == 0)
                                                        {
                                                            flag = 1;
                                                           <button class="btn-xs" onclick="rating(@q.Id)">Like</button>

                                                            break;
                                                        }

                                                    } if (flag == 0)
                                                    {
                                                       <button class="btn-xs" onclick="rating(@q.Id)">Like</button>


                                                    }
                                                           }
                                                       </div>


                                                    </div>
                                                 }
                                            }
                                        }
                                    }
                                }
                            }
                         </td>

                        


                        
                    </tr>
    <tr>
        <td colspan="2" style="padding:12px;">
            @foreach (Answer a in ViewBag.ans)
            {
                if (a.Question_Id == @q.Id)
                {
                    foreach (User u in ViewBag.usr)
                    {
                        if (u.Id == a.User_Id)
                        {
                            <img src="~/Content/dp/@u.Image" width="50" height="50" style="margin-top:3px;border-radius:50px;"><span style="color:white;"><span style="color:rgb(28, 5, 87);"> @u.FirstN (@u.UserType):</span> @a.Ans</span><br>
                            string ii = a.Id+"com";
                            <div id="@ii" style="margin-left:55px;margin-top:-20px;">
                            @{
                            string namee = Session["Instructor"].ToString();
                            DatabaseEntities3 ed = new DatabaseEntities3();
                            var usrrr = ed.Users.FirstOrDefault(x => x.FirstN.Equals(namee));
                            var a1 = ed.AnsLikes.Where(x => x.Ans_Id == a.Id && x.Status == 1).Select(x => x).ToList();
                            if (a1.Count != 0)
                            {
                                <span>(@a1.Count Likes)</span>
                            }

                            int flag = 0;
                            foreach (var aa in a1)
                            {
                                if (aa.User_Id == usrrr.Id && aa.Status == 1)
                                {
                                    flag = 1;
                                    <button class="btn-xs" onclick="ansunrating(@a.Id)">Unlike</button>

                                    break;
                                }
                                else if (aa.User_Id == usrrr.Id && aa.Status == 0)
                                {
                                    flag = 1;
                                    <button class="btn-xs" onclick="ansrating(@a.Id)">Like</button>
                                    break;
                                }

                            } if (flag == 0)
                            {
                                <button class="btn-xs" onclick="ansrating(@a.Id)">Like</button>

                            }
                            }
    </div>

                        }
                    }
                }
            }
            <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@q.Id+@q.Ques">Answer</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/Instructor/AddAnsw" method="post">
                                <div class="form-group" id="div1">

                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="message" name="answer"></textarea>
                                    <input type="hidden" name="ques_id" id="ques_id" value="">
                                    <br>
                                    <input type="submit" class="form-control" value="Done">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="divider">
        </td>
    </tr>

                }
            </table>

        </div>
    </div>





</div>